<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hodlinfo</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="main-wrapper container-fluid g-0">
        <div class="content-navbar">
            <div class="align-items-center justify-content-sm-center row">
                <div class="text-center-sm col-12 col-sm-7 col-md-5 col-lg-4">
                    <a href="/">
                        <div class="logo-wrapper padding-none">
                            <img src="/images/hodlinfo-logo-white.png" style="width: 80%; justify-self: center;" alt="logo">
                        </div>
                    </a>
                </div>
                <div class="text-center d-flex padding-none col-12 col-sm-12 col-md-2 col-lg-4" style="gap: 5px; flex-wrap: wrap; justify-content: center;">
                    <div class="btn-group">
                        <select name="INR" id="INR" class="btn-select-class">
                            <option value="INR">INR</option>
                        </select>
                    </div>
                    <div class="btn-group">
                        <select name="BTC" id="BTC" class="btn-select-class">
                            <option value="BTC">BTC</option>
                            <option value="ETH">ETH</option>
                            <option value="USDT">USDT</option>
                            <option value="XRP">XRP</option>
                            <option value="TRX">TRX</option>
                            <option value="DASH">DASH</option>
                            <option value="ZEC">ZEC</option>
                            <option value="XEM">XEM</option>
                            <option value="IOST">IOST</option>
                            <option value="WIN">WIN</option>
                            <option value="BTT">BTT</option>
                            <option value="WRX">WRX</option>
                        </select>
                    </div>
                    <div class="btn-group">
                        <button type="BUY-BTC" class="btn-class">BUY BTC</button>
                    </div>
                </div>
                <div class="right-header col-12 col-sm-12 col-md-5 col-lg-4"></div>
            </div>
        </div>
        <div class="content-table">
            <% if(details!=null) { %>
                <table class="table-wrapper">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Last Traded Price</th>
                            <th>Buy / Sell Price</th>
                            <th>Volume</th>
                            <th>base_unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% details.forEach(function(item, index){ %>
                            <tr>
                                <td>
                                    <%= index+1 %>
                                </td>
                                <td>
                                    <%= item.name%>
                                </td>
                                <td>
                                    <%= item.last%>
                                </td>
                                <td>
                                    <%= item.buy%> / <%= item.sell%>
                                </td>
                                <td>
                                    <%= item.volume%>
                                </td>
                                <td>
                                    <%= item.base_unit%>
                                </td>
                
                            </tr>
                            <% }) %>
                        </table>
                        <% } %>
                    </tbody>
        </div>
        <div class="content-footer"></div>
        <!-- <header>
            <div class="text-center padding-none col-12 col-sm-12 col-md-2 col-lg-4">
                <img src="/images/hodlinfo-logo-white.png" alt="Hodlinfo">
            </div>
            <div class='text-center padding-none col-12 col-sm-12 col-md-2 col-lg-4'>
                <div class="btn-group">
                    <select name="INR" id="INR">
                        <option value="INR">INR</option>
                    </select>
                </div>
                <div class="btn-group">
                    <select name="BTC" id="BTC">
                        <option value="BTC">BTC</option>
                        <option value="ETH">ETH</option>
                        <option value="USDT">USDT</option>
                        <option value="XRP">XRP</option>
                        <option value="TRX">TRX</option>
                        <option value="DASH">DASH</option>
                        <option value="ZEC">ZEC</option>
                        <option value="XEM">XEM</option>
                        <option value="IOST">IOST</option>
                        <option value="WIN">WIN</option>
                        <option value="BTT">BTT</option>
                        <option value="WRX">WRX</option>
                    </select>
                </div>
                <div class="btn-group"><button type="BUY-BTC">BUY BTC</button></div>
            </div>
        </header> -->
    </div>
</body>

</html>